analytics/java/target/
automation/target/
integration/target/

# artifacts
*.class
*.log
*.zip
.cache
.history
.lib/
dependency-reduced-pom.xml
dist/*
lib_managed/
project/boot/
project/plugins/project/
src_managed/
target/

# IDE settings
*.iml
.classpath
.idea
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
